{# TODO hot to avoid hot linking, cuz this is a dick move!!#}
<img src="{#{{ asset('img/Louvre-logo-mail.jpg') }}#}http://www.ecoledulouvre.fr/webmaster/newsletter/Louvre-logo.jpg" alt="logo musée du louvre">

<h1>Vos billets pour le Musée du Louvre</h1>

<p>Bonjour,</p>

<p>Suite à la commande que vous avez effectué sur notre site,nous vous adressons dans ce mails le détails de vos billets.</p>

<p>Numéro de votre réservation: <strong>{{ bookingCode }}</strong></p>

<p>La date de votre visite chez nous: <strong>{{ dateOfVisit |date('d/m/Y')}}</strong></p>

<p>Le prix total TTC de votre réservation est de <strong>{{ totalBookingPrice }} €</strong></p>

<h2>Ci-dessous la liste des visiteurs pour votre réservation</h2>

<div class="row">
    <table class="table tablet-layout table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Prix du billet</th>
            <th>Tarif réduit</th>
        </tr>
        </thead>
        <tbody>
        {% for visitor in visitors %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ visitor.firstName }}</td>
                <td>{{ visitor.lastName }}</td>
                <td>{{ visitor.dateOfBirth|date('d/m/Y') }}</td>
                <td>{{ visitor.ticketPrice }}€</td>
                <td>
                    {% if visitor.discount == false %}
                        Tarif non réduit
                    {% else %}
                        Tarif réduit*
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>*La carte d’étudiant, militaire ou équivalent sera demandée lors de l’entrée pour prouver que vous bénéficiez bien du tarif réduit.</p>

    <p><strong>IMPORTANT:</strong> Vous devez imprimer ce document et à le présenter à l'accueil le jour de votre visite</p>

    <p>L'ensemble de l'équipe du musée du Louvre vous remercie de votre confiance.</p>

    <p>A bientôt!</p>

</div>