{% extends "@Booking/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {%  block title %}Billeterie - Visiteurs{% endblock %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row summary">
            <h2>Récapitulatif de votre résevation</h2>
            <p>Réservation numéro {{ booking.id }}</p>

            <br>

            <p>Le prix total TTC de votre commande est de <strong>{{ booking.totalBookingPrice }} €</strong></p>

            <p>Ci-dessous la liste des visiteurs pour votre réservation:</p>
        </div>
    </div>

    <div class="container">

        {# TODO make this view Responsive, all in all BETTER looking than this #}

        <div class="row">
            <table class="table tablet-layout table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date de naissance</th>
                        <th>Prix du billet</th>
                        <th>Tarif réduit</th>
                    </tr>
                </thead>
                <tbody>
                {% for visitor in visitors %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ visitor.firstName }}</td>
                        <td>{{ visitor.lastName }}</td>
                        <td>{{ visitor.dateOfBirth|date('d/m/Y') }}</td>
                        <td>{{ visitor.ticketPrice }}€</td>
                        <td>
                            {% if visitor.discount == false %}
                                Tarif non réduit
                            {% else %}
                                Tarif réduit*
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        {% if visitor.discount == true %}
                            <p>*La carte d’étudiant, militaire ou équivalent sera demandée lors de l’entrée pour prouver que vous bénéficiez bien du tarif réduit.</p>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <form action="{{ path("booking_checkout", {"id": id}) }}" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripeKey }}"
                        data-amount="{{ booking.totalBookingPrice * 100 }}"
                        data-name="Musée du Louvre"
                        data-email="{{ booking.clientEmail }}"
                        data-description="Payement par carte"
                        data-locale="auto"
                        data-currency="eur">
                </script>
            </form>

        </div>

    </div>

{% endblock %}