{% extends "@Booking/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {%  block title %}Billeterie - Confirmation{% endblock %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row text-center">
            <h2 class="">Confirmation de votre réservation</h2>
            <br>
            <p>Bonjour,</p>
            <p>le payement de votre réservation a été validé.</p>

            <p>Le numéro de votre réservation: <strong>{{ booking.bookingCodeNumber }}</strong></p>

            <p>Votre réservation contient <strong>{{ booking.numberOfTickets }}</strong>

            {% if booking.numberOfTickets > 1 %}
                tickets</p>
                <p>Vos billets vous serons envoyés par email au</p>
                {% elseif booking.numberOfTickets == 1 %}
                    ticket</p>
                    <p>Votre billet vous sera envoyé par email au.</p>
            {% endif %}
            <p><strong>{{ booking.clientEmail }}</strong></p>
            <p>Au plaisir de vous voir le <strong>{{ booking.dateOfVisit | date("m/d/Y", "Europe/Paris")}}</strong></p>

            <a href="{{ path("newbooking") }}"><button>Confirmé</button></a>
        </div>
    </div>

{% endblock %}